<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define logging rules -->
	<targets>
		<!-- Asynchronous wrapper for the file target -->
		<target name="logfile" xsi:type="AsyncWrapper">
			<target xsi:type="File" fileName=".\logs\bactabot.log" layout="${longdate} ${level} ${message} ${exception}" />
		</target>

		<!-- Asynchronous wrapper for the console target -->
		<!-- <target name="console" xsi:type="AsyncWrapper">
			<target xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
		</target> -->
	</targets>

	<rules>
		<!-- Log to both file and console -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<!-- <logger name="*" minlevel="Trace" writeTo="logfile,console" />-->
	</rules>
</nlog>